$color-purple:#7253f8;
$color-purple-light:#896EFF;
$color-purple-light2:#5543D1;
$color-grey:#777;
$color-white:#fff;
$color-blue-dark:#1f2471;
$color-blue-dark2: rgba(31,66,135,30%);
$color-light-green:#029E76;
$color-orange:#FFA808;
$color-pink:#FF586E;
$box-shadow:rgba(9, 13, 22, 0.3);
$color-orange-dark:#ff7330;
$color-green-light:#7ed56f;
$color-blue-light:#2998ff;
$color-blue:#5643fa
